<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationFirebase"
        tools:targetApi="31">
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".Add_edit_Address"
            android:exported="false" />
        <activity
            android:name=".Address_List_Activity"
            android:exported="false" />
        <activity
            android:name=".address_list"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CartListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AddProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardActivity11"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Bottomnavigation" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
    </application>

</manifest>